.card-container {
  --size: 6rem;
  --transition-duration: 500ms;
  --transition-easing: ease-out;
  display: flex;
  flex-direction: column;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;

  color: white;
  /* font-size: 2rem; */
  border: 1px solid rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  border-radius: 0.5rem;
  box-shadow: 0px calc(var(--size) / 6) calc(var(--size) / 3) rgba(0, 0, 0, 0.1);
  transition: transform var(--transition-duration) var(--transition-easing);
  overflow: hidden;
}

.card-container:hover {
  transform: scale(1.05);
}

.card-container::before {
  content: "";
  background: rgba(255, 255, 255, 0.4);
  width: 60%;
  height: 100%;
  top: 0%;
  left: -125%;
  transform: skew(45deg);
  position: absolute;
  transition: left var(--transition-duration) var(--transition-easing);
}
.card-container:hover {
  transform: translateY(-10%);
}
.card-container:hover::before {
  left: 150%;
}
